﻿

<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <h4 class="col-xs-9">Resultados Manchester United</h4>
                    <div class="col-xs-3"><a class="btn btn-default" id="DownloadManchesterJSON">Get format JSON</a></div>
                </div>
            </div>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Equipo</th>
                        <th scope="col">Victorias</th>
                        <th scope="col">Empates</th>
                        <th scope="col">Derrotas</th>
                        <th scope="col">Goles a Favor</th>
                        <th scope="col">Puntos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">@ViewBag.manchester_united.Name</th>
                        <td>@ViewBag.manchester_united.Statistics.Wins</td>
                        <td>@ViewBag.manchester_united.Statistics.Draws</td>
                        <td>@ViewBag.manchester_united.Statistics.Losts</td>
                        <td>@ViewBag.manchester_united.Statistics.TotalGoalsScored</td>
                        <td>@ViewBag.manchester_united.Statistics.Points</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="panelJsonManchester" class="panel panel-default hidden">
            <div class="panel-heading">
                <div class="text-center">
                    JSON Resultados Manchester United
                </div>
            </div>
            <div class="panel-body">
                <textarea id="jsonManchester" class="form-control no-resize textarea" style="height:250px;" readonly></textarea>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <h4 class="col-xs-9">Resultados todos los equipos</h4>
                    <div class="col-xs-3">
                        <a class="btn btn-default" id="DownloadAllJSON">Get format JSON</a>
                    </div>
                </div>

            </div>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Equipo</th>
                        <th scope="col">Victorias</th>
                        <th scope="col">Empates</th>
                        <th scope="col">Derrotas</th>
                        <th scope="col">Goles a Favor</th>
                        <th scope="col">Puntos</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var team in ViewBag.fullTeams)
                    {
                        <tr>
                            <th scope="row">@team.Name</th>
                            <td>@team.Statistics.Wins</td>
                            <td>@team.Statistics.Draws</td>
                            <td>@team.Statistics.Losts</td>
                            <td>@team.Statistics.TotalGoalsScored</td>
                            <td>@team.Statistics.Points</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <div id="panelJsonAll" class="panel panel-default hidden">
            <div class="panel-heading">
                <div class="text-center">
                    JSON Resultados todos los equipos
                </div>
            </div>
            <div class="panel-body">
                <textarea id="jsonAll" class="form-control no-resize textarea" style="min-height:500px;" readonly></textarea>
            </div>
        </div>
    </div>
</div>
<script>

    $('#DownloadManchesterJSON').click(function () {
        fetch('/ApiHome/ExportJSON/0')
            .then(function (response) {
                return response.json();
            })
            .then(function (myJson) {
                $("#jsonManchester").html(JSON.stringify(JSON.parse(myJson), undefined, 4));
                $("#panelJsonManchester").removeClass("hidden");
            });
    });

    $('#DownloadAllJSON').click(function () {
        fetch('/ApiHome/ExportJSON/1')
            .then(function (response) {
                return response.json();
            })
            .then(function (myJson) {
                $("#jsonAll").html(JSON.stringify(JSON.parse(myJson), undefined, 4));
                $("#panelJsonAll").removeClass("hidden");
            });
    });

</script>
